.predictionsContainer{
    color: white;
    width: 450px;
    margin: auto;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 0; 
    right: 0; 
    box-shadow: #211e1f 0px 0px 10px 0px;
}

.item{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #211e1f;
    min-height: 35px;
    line-height: 35px;
    padding: 0 15px;
}
.item:hover{
    color: #00ace1;
    cursor: pointer;
    /* background-color: #00ace1; */
}
.closeButton{
    background-color: #211e1f;  
    color: #fff;
    margin-top: 0px;
    border: none;
    font-size: 26px;
    width: inherit;
}
.closeButton:hover{
    cursor: pointer;
    background-color: #00ace1;
    color: #fff;
}
@media (min-width:1040px) {
    .predictionsContainer{
        width: 550px;
    }
}